<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
    <key>list</key>
    <array>
        <string>apostrophemod</string>
        <string>Acaron</string>
        <string>Acircumflexdotbelow</string>
        <string>Adblgrave</string>
        <string>Adieresismacron</string>
        <string>Adotaccent</string>
        <string>Adotmacron</string>
        <string>Ainvertedbreve</string>
        <string>Alpha-latin</string>
        <string>Aringbelow</string>
        <string>Astroke</string>
        <string>AEmacron</string>
        <string>Bdotaccent</string>
        <string>Bdotbelow</string>
        <string>Beta-latin</string>
        <string>Bhook</string>
        <string>Bmacronbelow</string>
        <string>Bstroke</string>
        <string>Ccedillaacute</string>
        <string>Chi-latin</string>
        <string>Chook</string>
        <string>Cstroke</string>
        <string>Dcedilla</string>
        <string>Dcircumflexbelow</string>
        <string>Ddotaccent</string>
        <string>Ddotbelow</string>
        <string>Dhook</string>
        <string>Dmacronbelow</string>
        <string>Dtail</string>
        <string>Ecedilla</string>
        <string>Ecedillabreve</string>
        <string>Ecircumflexbelow</string>
        <string>Ecircumflexdotbelow</string>
        <string>Edblgrave</string>
        <string>Edotbelow</string>
        <string>Einvertedbreve</string>
        <string>Emacronacute</string>
        <string>Emacrongrave</string>
        <string>Eopen</string>
        <string>Ereversed</string>
        <string>Esh</string>
        <string>Estroke</string>
        <string>Etilde</string>
        <string>Etildebelow</string>
        <string>Schwa</string>
        <string>Ezh</string>
        <string>Ezhcaron</string>
        <string>Ezhreversed</string>
        <string>Fdotaccent</string>
        <string>Fhook</string>
        <string>Gacute</string>
        <string>Gcaron</string>
        <string>Ghook</string>
        <string>Glottalstop</string>
        <string>Gmacron</string>
        <string>Gstroke</string>
        <string>Hbrevebelow</string>
        <string>Hcaron</string>
        <string>Hcedilla</string>
        <string>Hdieresis</string>
        <string>Hdotaccent</string>
        <string>Hdotbelow</string>
        <string>Heng</string>
        <string>Hhook</string>
        <string>Hturned</string>
        <string>Icaron</string>
        <string>Idblgrave</string>
        <string>Idieresisacute</string>
        <string>Idotbelow</string>
        <string>Iinvertedbreve</string>
        <string>Iota-latin</string>
        <string>Istroke</string>
        <string>Itilde</string>
        <string>Itildebelow</string>
        <string>Jcrossedtail</string>
        <string>Jstroke</string>
        <string>Kacute</string>
        <string>Kcaron</string>
        <string>Kdotbelow</string>
        <string>Khook</string>
        <string>Kmacronbelow</string>
        <string>Kstroke</string>
        <string>Lbar</string>
        <string>Lbelt</string>
        <string>Lcircumflexbelow</string>
        <string>Ldotbelow</string>
        <string>Ldotbelowmacron</string>
        <string>Ldoublebar</string>
        <string>Lmacronbelow</string>
        <string>Lmiddletilde</string>
        <string>Macute</string>
        <string>Mdotaccent</string>
        <string>Mdotbelow</string>
        <string>Mturned</string>
        <string>Ncircumflexbelow</string>
        <string>Ndotaccent</string>
        <string>Ndotbelow</string>
        <string>Ngrave</string>
        <string>Nhookleft</string>
        <string>Nlongrightleg</string>
        <string>Nmacronbelow</string>
        <string>OU</string>
        <string>Ocaron</string>
        <string>Ocenteredtilde</string>
        <string>Ocircumflexdotbelow</string>
        <string>Odblgrave</string>
        <string>Odieresismacron</string>
        <string>Odotaccent</string>
        <string>Odotaccentmacron</string>
        <string>Odotbelow</string>
        <string>Oinvertedbreve</string>
        <string>Omacronacute</string>
        <string>Omacrongrave</string>
        <string>Omega-latin</string>
        <string>Oogonek</string>
        <string>Oogonekmacron</string>
        <string>Oopen</string>
        <string>Oslashacute</string>
        <string>Otildeacute</string>
        <string>Otildedieresis</string>
        <string>Otildemacron</string>
        <string>Pacute</string>
        <string>Pdotaccent</string>
        <string>Phook</string>
        <string>Pstroke</string>
        <string>Qhooktail</string>
        <string>Rdblgrave</string>
        <string>Rdotaccent</string>
        <string>Rdotbelow</string>
        <string>Rdotbelowmacron</string>
        <string>Rinvertedbreve</string>
        <string>Rmacronbelow</string>
        <string>Rstroke</string>
        <string>Rtail</string>
        <string>Sacutedotaccent</string>
        <string>Saltillo</string>
        <string>Scarondotaccent</string>
        <string>Sdotaccent</string>
        <string>Sdotbelow</string>
        <string>Sdotbelowdotaccent</string>
        <string>Sobliquestroke</string>
        <string>Tcircumflexbelow</string>
        <string>Tdiagonalstroke</string>
        <string>Tdotaccent</string>
        <string>Tdotbelow</string>
        <string>Tlinebelow</string>
        <string>Thook</string>
        <string>Ubrevebelow</string>
        <string>Ucaron</string>
        <string>Ucircumflexbelow</string>
        <string>Udblgrave</string>
        <string>Udieresisacute</string>
        <string>Udieresisbelow</string>
        <string>Udieresiscaron</string>
        <string>Udieresiscircumflex</string>
        <string>Udieresismacron</string>
        <string>Udotbelow</string>
        <string>Uinvertedbreve</string>
        <string>Umacronacute</string>
        <string>Umacrongrave</string>
        <string>Uogonekmacron</string>
        <string>Upsilondieresis</string>
        <string>Upsiloninvertedbreve</string>
        <string>Upsilonstroke</string>
        <string>Uturned</string>
        <string>Vdotbelow</string>
        <string>Vendescender</string>
        <string>Vhook</string>
        <string>Vmacron</string>
        <string>Wacute</string>
        <string>Wcircumflexacute</string>
        <string>Wcircumflexbelow</string>
        <string>Wcircumflexdieresis</string>
        <string>Wcircumflexdotaccent</string>
        <string>Wcircumflexgrave</string>
        <string>Wdotaccent</string>
        <string>Wdotbelow</string>
        <string>Wgrave</string>
        <string>Winvertedbreve</string>
        <string>Wlinebelow</string>
        <string>Xdotaccent</string>
        <string>Xdotbelow</string>
        <string>Yacute</string>
        <string>Ycircumflex</string>
        <string>Ycircumflexacute</string>
        <string>Ycircumflexdotaccent</string>
        <string>Ycircumflexgrave</string>
        <string>Ydieresis</string>
        <string>Ydotbelow</string>
        <string>Ydotbelowmacron</string>
        <string>Ygrave</string>
        <string>Yhook</string>
        <string>Yinvertedbreve</string>
        <string>Ymacron</string>
        <string>Ymacronacute</string>
        <string>Ymacrongrave</string>
        <string>Ytilde</string>
        <string>Zafrican</string>
        <string>Zcaron</string>
        <string>Zcircumflex</string>
        <string>Zdotaccent</string>
        <string>Zdotbelow</string>
        <string>Zedescender</string>
        <string>Zhook</string>
        <string>Zlinebelow</string>
        <string>Zstroke</string>
    </array>
    <key>name</key>
    <string>GF_Latin_African</string>

</dict>
</array>
</plist>